/* Dyslexia-friendly fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

/* OpenDyslexic Font - Using public CDN */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('https://cdn.jsdelivr.net/npm/open-dyslexic@1.0.3/fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('https://cdn.jsdelivr.net/npm/open-dyslexic@1.0.3/fonts/OpenDyslexic-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Font variables */
:root {
    --font-default: Arial, Helvetica, sans-serif;
    --font-lexend: 'Lexend', sans-serif;
    --font-opendyslexic: 'OpenDyslexic', Arial, sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-opensans: 'Open Sans', sans-serif;
}
